*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;

}

html{
    font-family: 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, rgb(221, 221, 66));
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 4px double white
    
}

.grid-container{
    width: 100vw ;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    /* alinhar os elementos do grid */

    /* alinhar no eixo horizontal */
    justify-items: center;

    /*  alinhar no eixo vertical */
    align-items: center;


    justify-content: center;

    align-content: center;
}


.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    /* grid-column: 1/3; */
    width: 400px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aquamarine;
}

.box2{
    background-color: green;
    grid-row: 1/3;
    grid-column: 3/4;
    height: 400px;
}

.box3{
    background-color: purple;
}

.box4{
    
    background-color: orange;
    grid-row: 2/4;
    grid-column: 2/3;
    height: 400px;
}

.box5{
    
    background-color: blue
}

.box6{

    background-color: red;
}